.div1{
background-color: #e4f9f5;
padding:20px 10px 10px 10px;
margin:0px;
height:600px;
}
td{
padding:5px;
}
.upperCloud{
position:absolute;
left:70%;
top:30px;
}
.mountainPic{
	margin-top: 70px;
	height:320px;
	
	position:absolute;
	left:470px;
	right:400px;
	width:350px;
	padding-bottom: 10px;
}
.lowerCloud{
position:absolute;
left:20%;
top: 200px;
}
hr{
border: 10px 0px 0px 0px;
border-style: dotted none none none;
border-color: grey;
width: 10%;
border-width: 5px;
margin-top: 20px;
margin-bottom: 20px;
}
.intro{
padding-top: 200px;
height: 600px;
}
.education>table{
margin-left: auto;
margin-right: auto;
}
img{
height:210px;
width:200px;
padding-top: 20px;
}
.intro-image2{
border-radius: 100%;
}
.skills{
padding-top: 50px;
padding-bottom: 30px;
}
.skill-list>table{
margin-left: auto;
margin-right: auto;
}
.skillpic{
position: absolute;
width: 60%;
height: 80%;
opacity: 0.2;
top: 2180px;
left:260px;
right:0px;
}

.achievements{
height:500px;
padding-top: 120px;
text-align: center;
}
.achievementsPic{

	position:absolute;
		opacity: 0.2;
	width: 100%;
	left:0px;
	right:0px;
	bottom: -2700.43px !important;
	/*top: 2770.43px;*/
	height: 500px;
}

.projects{
height:500px;
text-align: center;
padding-top: 120px;
}
.projects>ol>li>p{
width:50%;
margin-left: auto;
margin-right: auto;
text-align: center;
}
.education{
background-color: #e8ffff;
padding-top:50px;
text-align: center;
align-self: center;
height: 600px;
}
body{
margin: 0 0 0 0;
/*padding-top: 10px;*/
font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
text-align: center;
}
.heading{
padding-top: 90px;
font-size: 21;
font-family: Bradley Hand, cursive;
margin-top: 0;
}
ul{
text-align: center;
}
ol{
}
ol li::marker{
	margin-left: auto;
}

li{
padding-top: 10px;
text-align: center;
}
.hobbies{
height:500px;
padding-top: 120px;
padding-bottom: 20px;
}
.projectPic{
	position:absolute;
	opacity: 0.3;
	width: 100%;
	left:0px;
	right:0px;
	bottom: -3262.43px !important;
top: 3485.43px;
height: 500px;
}
.project>img{
	position: absolute;
	background-size: cover;
	height: 500px;
}
.hobbyPic{
	position:absolute;
		opacity: 0.2;
	width: 100%;
	left:0px;
	right:0px;
	bottom: -2762.43px !important;
top: 4155.43px;
height: 500px;

}
.contact{
	margin-top: 50px;
	padding-top: 20px;
	background-color: #709fb0;
	height:200px;
	text-align: center;
}
.linkedIn{
	height:30px;
	width:30px;
}